.gpt3__cta-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--gradient-bar);
    padding: 2rem;
    border-radius: 11px;
    font-family: var(--font-family);
    gap: 2rem;
  }
  
  .gpt3__cta-banner__text {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
  
  .gpt3__cta-banner__text h5 {
    font-size: clamp(1rem, 4vw, 1.5625rem);
    font-weight: 500;
    line-height: clamp(1.875rem, 5vw, 2.5rem);
  }
  
  .gpt3__cta-banner__text h2 {
    font-size: clamp(1.5rem, 5vw, 2.125rem);
    line-height: clamp(1.875rem, 6vw, 2.8125rem);
    font-weight: 800;
  }
  
  .gpt3__cta-banner__button button {
    background-color: #000000;
    border-radius: 40px;
    font-size: clamp(1rem, 4vw, 1.125rem);
    font-weight: 700;
    outline: none;
    border: none;
    color: #FFFFFF;
    width: 189.14px;
    height: 54px;
    font-family: var(--font-family);
  }
  
  @media screen and (min-width: 800px) {
    .gpt3__cta-banner {
      flex-direction: row;
    }
    .gpt3__cta-banner__text {
      flex: 3;
    }
    .gpt3__cta-banner__button button {
      margin: 0;
    }
  }