.gpt3__header {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.gpt3__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.gpt3__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: clamp(2rem, 8vw, 3.1rem);
  line-height: 1.2;
  letter-spacing: -0.04em;
  margin-bottom: 1rem;
}

.gpt3__header-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(1rem, 4vw, 1.25rem);
  line-height: 1.4;
  color: var(--color-text);
  margin-top: 1.5rem;
}

.gpt3__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
  flex-direction: row;
}

.gpt3__header-content__input input {
  flex: 2;
  width: 100%;
  min-height: 3em;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: clamp(1rem, 4vw, 1.25rem);
  line-height: 1.4;
  background: var(--color-footer);
  border: none;
  padding: 0 1em;
  outline: none;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.gpt3__header-content__input button {
  flex: 0.7;
  width: 100%;
  min-height: 3em;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: clamp(0.8rem, 0.4rem + 1vw, 2rem);
  line-height: 1.4;
  background: #ff4820;
  border: 2px solid #ff4820;
  padding: 0 0.7em;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: 0 5px 5px 0;
}

.gpt3__header-content__people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
}

.gpt3__header-content__people img {
  width: 181.79px;
  height: 38px;
}

.gpt3__header-content__people p {
  margin: 0 0 0 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  line-height: 1.6;
  color: #fff;
  text-align: center;
}

.gpt3__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gpt3__header-image img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1072px) {
  .gpt3__header {
    flex-direction: row;
  }

  .gpt3__header-content {
    margin: 0 0 3rem;
  }
}